#container {
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.1s;
}

#pause-screen {
	width: 60%;
	padding : 24px;
	border-radius: 10%;
	margin: 0 auto;
	background-color: white;

}

#resume-btn, #options-btn, #exit-btn {
	margin: 24px 0;
}